a[href]:after {
    content: none !important
}

.container {
    width: 100%
}

.pageContentContainer {
    width: 100%;
    border: 0
}

.price, .atp, .product-side, #videoTab {
    display: none
}

.detailedPricing td.price, .detailedPricing th.price, .shoppingCartItems td, .shoppingCartItems th {
    display: table-cell !important
}

.shoppingCartItems .price, .shoppingCartItems .atp {
    display: block
}

.checkoutButton.priceSummary {
    display: none \9
}

.searchResultContainer .contentContainer {
    padding: 20px 0;
    width: 100%
}

.tile_4_right {
    float: left;
    width: 100%;
    border: 0;
    margin: 0
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block
}

.popover, .modal-backdrop, .modal-backdrop.fade.in {
    background: #fff !important
}

.HeaderTopBorder {
    display: none
}

.fixedHeader {
    position: relative
}

.mainContent {
    margin-top: 0
}

#header {
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 20px
}

#header #logo {
    width: 197px;
    height: auto;
    content: url('logo-print.gif')
}

#header .searchForm {
    display: none
}

#header #nav-sub {
    display: none
}

.tabs-wrapper .nav li {
    display: none
}

.tabs-wrapper .nav li:first-child {
    display: block
}

.nav-wrapper {
    display: none
}

#breadcrumbs {
    display: none
}

.middleContent {
    border: 0
}

.pageOptions {
    display: none
}

.homeHeader {
    display: none
}

.marketingBar {
    display: none
}

.middleContent .homeMarketing2col div.column1, .middleContent .homeMarketing2col div.column2 {
    width: 100%;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #e1e4e8
}

.middleContent .homeMarketing3col {
    width: 100%;
    padding: 20px 0
}

.middleContent .homeMarketing3col div {
    width: 100%;
    margin: 0 0 20px 0
}

.homeHeaderLoggedIn {
    display: none
}

.middleContent .homeHighlights h1 {
    margin-left: 0
}

.middleContent .homeQuicklist {
    width: 100%;
    padding: 20px 0;
    border-right: 0
}

.middleContent .homeQuicklist .myProfile ul li {
    width: 100%
}

.middleContent .homeNews {
    width: 100%;
    padding: 20px 0
}

.sidebar {
    display: none
}

.categories.categories-grid {
    width: 100%
}

.categories.categories-list > li.catEntry .orderItemAddForm .btn-group .btn, .categories.categories-list > li.catEntry .view, .categories.categories-grid > li.catEntry .orderItemAddForm .btn-group .btn, .categories.categories-grid > li.catEntry .view {
    display: none
}

.itemPage .genericStepsCarousel, .product .genericStepsCarousel {
    display: none
}

.add-to-cart-wrapper .amount {
    display: none
}

.add-to-cart-wrapper .comment {
    display: none
}

.add-to-cart-wrapper .btn-group {
    display: none
}

.add-to-cart-wrapper .actions {
    display: none
}

.product .product-images, .product .product-info, .product .product-side {
    padding: 20px 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e1e4e8
}

.product .product-images {
    min-height: 0;
    width: 270px
}

.product .product-side form input.comment {
    float: left;
    clear: both
}

.product .product-side form .btn-group {
    clear: both
}

.results-nav-bar {
    display: none
}

.frozen-div {
    display: none
}

.ui-jqgrid .ui-jqgrid-bdiv, .ui-jqgrid .ui-jqgrid-hdiv {
    overflow: visible;
    height: auto !important;
    width: 100% !important
}

.frozen-bdiv {
    display: none
}

.genericStepsCarousel {
    padding: 20px 0
}

.brandsOverview {
    padding: 20px 0;
    width: 100%
}

.administrationMenu {
    display: none
}

.notification {
    border-bottom: 1px solid #e1e4e8
}

.notification .alert {
    width: 100%
}

#header .notification .alert i, .notification .alert i {
    display: none
}

.notification .alert p {
    margin: 0
}

.poll {
    padding: 20px 0;
    width: 100%;
    min-height: 0
}

#footer {
    display: none
}

.shoppingCart .myShoppingcartWrapper, .shoppingCartItems, .pageContentContainer, .detailedPricing .amountGross {
    float: none
}

.detailedPricing .amountGross {
    display: block
}

.shoppingCart .checkoutButton .btn, .shoppingCart .showDetailedInformation, .shoppingCart .list-progress, .myShoppingcartWrapper .quickOrderAdd, .myShoppingcartWrapper .shoppingcartName .inline.shoppingcartMenu, .myShoppingcartWrapper td.itemDelete a {
    display: none
}

.myShoppingcartWrapper .myShoppingcart {
    padding: 0 !important
}

.shoppingCartItems .shopCartTable {
    margin-bottom: -1px
}

.highlightPromotionElements {
    margin: 0;
    padding: 0
}

.highlightPromotionElements > li {
    list-style: none;
    border-bottom: 1px solid #e1e4e8;
    border-left: 1px solid #e1e4e8;
    border-right: 1px solid #e1e4e8;
    width: 47%;
    height: 75px;
    padding: 20px 1%;
    margin-left: -1px;
    position: relative;
    float: left;
    page-break-inside: avoid
}

.highlightPromotionElements > li .image {
    height: 75px;
    padding-right: 20px;
    float: left
}

.highlightPromotionElements > li .image img {
    height: 75px
}

.highlightPromotionElements > li .partNumber {
    margin: 0
}

.highlightPromotionElements > li .partNumber a {
    font-weight: bold
}

.highlightPromotionElements > li .description {
    margin: 0 37px 10px;
    line-height: 18px
}

.highlightPromotionElements > li .tags {
    position: absolute;
    right: 5px
}

.highlightPromotionElements > li form {
    position: absolute;
    right: 10px;
    top: 50px
}

#catalogEntriesTableContainer .orderItemAddForm .add-to-cart-no-label, #catalogEntriesTableContainer .tableControlButtons, .itemPage div.productScroller, .itemPage #mediaTab, .itemPage #videoTab {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important
}

#header #logo {
    width: 197px;
    content: url('logo-print.gif')
}